name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'
          check-latest: true
          cache: true

      - name: Go fmt check
        run: |
          gofmt -w $(find . -name '*.go' -not -path './vendor/*')
          git diff --exit-code

      - name: Build
        run: go build ./cmd/inst

      - name: Test
        run: go test ./...
